h1,
p,
footer {
  text-align: center;
}

body {
  background-color: bisque;
}

footer {
  margin-top: 20px;
}

footer a {
  margin: 0 10px;
}
.croissant-photo {
  display: flex;
  justify-content: center;
}
